<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head"/>

<body>
  <!-- container section start -->
  <section id="container" class="">
   <header th:replace="fragments :: bar" ></header>
	<aside th:replace="fragments :: menu"></aside>
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header" style="font-family: arial; color: #007aff"><i class="fa fa-files-o"></i> Thêm mã giảm giá</h3>
            <ol class="breadcrumb" style="font-family: arial;">
              <li><a th:href="@{/admin}">Trang chủ</a></li>
              <li>Mã giảm giá</li>
              <li>Thêm mã giảm giá</li>
            </ol>
          </div>
        </div>
        <!-- Form validations -->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              
              <div class="panel-body">
                <div class="form">
                  <form class="form-validate form-horizontal" action="#"  th:action="@{/admin/discount/savediscount}" th:object="${discount}" method="post">
                   
                    <div class="form-group ">
                      <label for="tenDM" class="control-label col-lg-2" style="font-family: arial;">Tên mã giảm giá <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input th:field="*{name}" class="form-control" id="tenDM" name="tenDM" minlength="5" type="text" required  />
                      </div>
                    </div> 
                      <div class="form-group ">
                      <label for="amount" class="control-label col-lg-2" style="font-family: arial;">Số lượng<span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input th:field="*{amount}" class="form-control" id="amount" name="amount" min="1" type="number" required  />
                      </div>
                    </div> 
                    <div class="form-group ">
                      <label for="percent" class="control-label col-lg-2" style="font-family: arial;">Phần trăm giảm<span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input th:field="*{percent}" class="form-control" id="percent" name="percent" min="1" max="99" type="number" required  />
                      </div>
                    </div> 
                    <div class="form-group ">
                      <label for="" class="control-label col-lg-2" style="font-family: arial;">Trạng thái<span class="required">*</span></label>
                      <div class="col-lg-10">
                         <select class="form-control m-bot15" th:field="*{isenable}" required>
                       			<option value = "1" style="font-family: arial;">Còn hiệu lực</option>
                       			<option value = "0" style="font-family: arial;">Hết hiệu lực</option>
                     	</select>
                      </div>
                    </div> 
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" style="font-family: arial;" type="submit">Thêm mới</button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->
   
  </section>
  <!-- container section end -->

 
<script type="text/javascript">
	$(document).ready(function(){
		$('#fileImage').change(function(){
			showImageThumbnail(this);
		});
	});
	
	function showImageThumbnail(fileInput){
		file = fileInput.files[0];
		reader = new FileReader();
		reader.onload = function(e){
			$('#thumbnail').attr('src',e.target.result);
		};
		reader.readAsDataURL(file);
	}
	
</script>

</body>

</html>
