<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head"/>

<body>
  <!-- container section start -->
  <section id="container" class="">
   <header th:replace="fragments :: bar" ></header>
	<aside th:replace="fragments :: menu"></aside>
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header" style="font-family: arial; color: #007aff"><i class="fa fa-files-o"></i> Sửa banner</h3>
            <ol class="breadcrumb" style="font-family: arial;">
              <li><a th:href="@{/admin}">Trang chủ</a></li>
              <li>Banner</li>
              <li>Sửa banner</li>
            </ol>
          </div>
        </div>
        <!-- Form validations -->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <div class="panel-body">
                <div class="form">
                  <form class="form-validate form-horizontal"  enctype="multipart/form-data" th:action="@{/admin/banner/save}" th:object="${banner}" method="post">
                    <div class="form-group ">
                      <label for="tensp" class="control-label col-lg-2" style="font-family: arial;">ID <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input th:field="*{id}" readonly="readonly" class="form-control" id="tensp" name="id" minlength="5" type="text" required  />
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="tensp" class="control-label col-lg-2" style="font-family: arial;">Tiêu đề <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input th:field="*{title}" class="form-control" id="tenDM" name="tenDM" minlength="5" type="text" required  />
                      </div>
                    </div> 
                      <div class="form-group ">
                      <label for="tensp" class="control-label col-lg-2" style="font-family: arial;">Chi tiết<span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input th:field="*{detail}" class="form-control" id="detail" name="detail" min="0" type="text" required  />
                      </div>
                    </div> 
                    <div class="form-group ">
                      <label for="tensp" class="control-label col-lg-2" style="font-family: arial;">Ảnh<span class="required">*</span></label>
                       <div class="col-lg-10">
                        <input class="form-control"  id="fileImage" name="image"  type="file" accept="image/png, image/jpeg" required  />
                      	<img style="margin-top: 10px; height: 166px;width: 166px; " id="thumbnail" alt=" "/>
                      </div>
                    </div> 
                    <div class="form-group ">
                      <label for="tensp" class="control-label col-lg-2" style="font-family: arial;">Đường dẫn<span class="required">*</span></label>
                      <div class="col-lg-10">
                         <input th:field="*{url}" class="form-control"  minlength="1" type="text" required  />
                      </div>
                    </div> 
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" type="submit" style="font-family: arial;">Cập nhật</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->
   
  </section>
  <!-- container section end -->

<script type="text/javascript">
	$(document).ready(function(){
		$('#fileImage').change(function(){
			showImageThumbnail(this);
		});
	});
	
	function showImageThumbnail(fileInput){
		file = fileInput.files[0];
		reader = new FileReader();
		reader.onload = function(e){
			$('#thumbnail').attr('src',e.target.result);
		};
		reader.readAsDataURL(file);
	}
	
</script>

</body>

</html>
