<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head"/>

<body>
  <!-- container section start -->
  <section id="container" class="">
   <header th:replace="fragments :: bar" ></header>
	<aside th:replace="fragments :: menu"></aside>
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header" style="font-family: arial; color: #007aff"><i class="fa fa-files-o"></i> Sửa color</h3>
            <ol class="breadcrumb" style="font-family: arial;">
              <li><a th:href="@{/admin}">Trang chủ</a></li>
              <li th:text="${p.name}"></li>
              <li>Sửa color</li>
            </ol>
          </div>
        </div>
        <!-- Form validations -->
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              
              <div class="panel-body">
                <div class="form">
                  <form class="form-validate form-horizontal" action="#"  th:action="@{'/admin/product/color/savesize/'+${p.id}}" th:object="${color}" method="post">
                    <div class="form-group ">
                      <label for="tensp" class="control-label col-lg-2" style="font-family: arial;">Mã color <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input th:field="*{id}" readonly class="form-control" id="id" name="id"  type="text" required  />
                      </div>
                    </div>
                    <div class="form-group ">
                      <label for="tensp" class="control-label col-lg-2" style="font-family: arial;">Tên color <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input th:field="*{color}" class="form-control" id="tensize" name="tensize" minlength="2" type="text" required  />
                      </div>
                    </div> 
                      <div class="form-group ">
                      <label for="tensp" class="control-label col-lg-2" style="font-family: arial;">Số lượng <span class="required">*</span></label>
                      <div class="col-lg-10">
                        <input th:field="*{amount}" class="form-control" id="amount" name="amount" min="0" type="number" required  />
                      </div>
                      <input th:field="*{p}" class="form-control" id="pid" name="pid"  type="hidden" required  />
                    </div> 
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <button class="btn btn-primary" type="submit" style="font-family: arial;">Cập nhật</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </section>
          </div>
        </div>
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->
   
  </section>
  <!-- container section end -->

 
<script type="text/javascript">
	$(document).ready(function(){
		$('#fileImage').change(function(){
			showImageThumbnail(this);
		});
	});
	
	function showImageThumbnail(fileInput){
		file = fileInput.files[0];
		reader = new FileReader();
		reader.onload = function(e){
			$('#thumbnail').attr('src',e.target.result);
		};
		reader.readAsDataURL(file);
	}
	
</script>

</body>

</html>
