<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: html_head"/>
<body>
	<!-- container section start -->
	<section id="container" class="">
		<header th:replace="fragments :: bar" ></header>
		<aside th:replace="fragments :: menu"></aside>
		<!--main content start-->
		<section id="main-content" >
			<section class="wrapper">
				<div class="row">
			<div class="col-lg-12">
				<h3 class="page-header" style="font-family: arial; color: #007aff">
					<i class="fa fa-gift"></i> Thống kê
				</h3>
				<ol class="breadcrumb" style="font-family: arial;">
					<li><a th:href="@{/admin}">Trang chủ</a></li>
					<li>Thống kê</li>
				</ol>
			</div>
				</div>
		</section>
		</section>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        	['Sản phẩm','Doanh thu'],
        	/*[# th:each="row : ${list}"]*/
           ['[[${row.product.name}]]',[[${row.price}*${row.amount}]]],
            /*[/]*/
        ]);

        var options = {
          title: 'Doanh thu theo sản phẩm ',
			width: 1000,
			height: 400,
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
   
  	<div id="curve_chart" style="width: 900px; height: 500px;margin-left: 200px;padding-top: 100px"></div>
  	
		<!--main content end-->
		
	</section>
	

</body>

</html>
